@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #80E8BA;
  --secondary: #0F3C3C;
}

.nunito {
  font-family: var(--font-nunito);
}

.bg-primary {
  background: var(--primary);
}

.text-color-light {
  color: #1b6d6d;
  transition: 0.3s ease-in-out;
}

.text-color-light:hover {
  color: var(--secondary);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--secondary);
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--secondary);
  transform-origin: top;
}
